# Created by https://www.gitignore.io/api/java,macos,gradle,kotlin,intellij+all
# Edit at https://www.gitignore.io/?templates=java,macos,gradle,kotlin,intellij+all

### Intellij ###
out/
*.iml
*.ipr

### Java ###
hs_err_pid*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Gradle ###
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Project specific ###

/devetc/
**/application-local.yml
h2db*db*
/src/main/resources/version.properties
gradle.properties
bot.log
/db-volume/
